<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="confirmRide.css">
    <title>{{sTitle}}</title>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Helping Wheels</a>
        </div>
        <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="/home">Home</a></li>-->
        <!--</ul>-->

    </div>
</nav>
<body>

<div class="top-image">
	<img src="car2.jpg" />
</div>
    
<div class="below-image-message">
		<div class="card Message-card">
			<div class="card-body">
				<p>Your Ride-Confirmation Details</p>
                <ul>
                   <li>Name:{{pName}}</li>
                   <li>Source:{{src}}</li>
                   <li>Destination:{{dest}}</li>
                   <li>Total Members:{{member}}</li>
                   <li>Mobile:{{number}}</li>
                </ul>
			</div>
		</div>

		<div class="proceed-btn text-center">
			<a type="button" class="btn btn-primary" href="/home?id={{id}}">Confirm Ride</a>
		</div>
</div>        

</body>
</html>
      
        
        
        
        
        
